In [25]:
import pandas as pd
import os
from pathlib import Path
import sys
pd.set_option('display.max_columns', None)
# Add project root to path
sys.path.insert(0, str(Path.cwd().parent))

from src.music_recommender.config import Config

In [26]:
cfg = Config()
fs = cfg.paths.fma_small
fm = cfg.paths.fma_metadata
sp = cfg.paths.spotify
print(fs)
print(fm)
print(sp)

/home/moad/desktop/music-recommender/data/raw/fma_small
/home/moad/desktop/music-recommender/data/raw/fma_metadata
/home/moad/desktop/music-recommender/data/raw/spotify-12m-songs

In [27]:
id_music_list = []
for root, dirs, files in os.walk(fs):
    for file in files:
        file_path = Path(root )/ file
        if file_path.suffix.lower() == ".mp3":
            id_music_list.append(int(file_path.stem))

In [28]:
fm_df = pd.read_csv(fm / "raw_tracks.csv")
fm_df.head()

,track_id,album_id,album_title,album_url,artist_id,artist_name,artist_url,artist_website,license_image_file,license_image_file_large,license_parent_id,license_title,license_url,tags,track_bit_rate,track_comments,track_composer,track_copyright_c,track_copyright_p,track_date_created,track_date_recorded,track_disc_number,track_duration,track_explicit,track_explicit_notes,track_favorites,track_file,track_genres,track_image_file,track_information,track_instrumental,track_interest,track_language_code,track_listens,track_lyricist,track_number,track_publisher,track_title,track_url
0,2,1.0,AWOL - A Way Of Life,http://freemusicarchive.org/music/AWOL/AWOL_-_...,1,AWOL,http://freemusicarchive.org/music/AWOL/,http://www.AzillionRecords.blogspot.com,http://i.creativecommons.org/l/by-nc-sa/3.0/us...,http://fma-files.s3.amazonaws.com/resources/im...,5.0,Attribution-NonCommercial-ShareAlike 3.0 Inter...,http://creativecommons.org/licenses/by-nc-sa/3.0/,[],256000.0,0,NaN,NaN,NaN,11/26/2008 01:48:12 AM,11/26/2008,1,02:48,Radio-Unsafe,NaN,2,music/WFMU/AWOL/AWOL_-_A_Way_Of_Life/AWOL_-_03...,"[{'genre_id': '21', 'genre_title': 'Hip-Hop', ...",https://freemusicarchive.org/file/images/album...,NaN,0,4656,en,1293,NaN,3,NaN,Food,http://freemusicarchive.org/music/AWOL/AWOL_-_...
1,3,1.0,AWOL - A Way Of Life,http://freemusicarchive.org/music/AWOL/AWOL_-_...,1,AWOL,http://freemusicarchive.org/music/AWOL/,http://www.AzillionRecords.blogspot.com,http://i.creativecommons.org/l/by-nc-sa/3.0/us...,http://fma-files.s3.amazonaws.com/resources/im...,5.0,Attribution-NonCommercial-ShareAlike 3.0 Inter...,http://creativecommons.org/licenses/by-nc-sa/3.0/,[],256000.0,0,NaN,NaN,NaN,11/26/2008 01:48:14 AM,11/26/2008,1,03:57,Radio-Unsafe,NaN,1,music/WFMU/AWOL/AWOL_-_A_Way_Of_Life/AWOL_-_04...,"[{'genre_id': '21', 'genre_title': 'Hip-Hop', ...",https://freemusicarchive.org/file/images/album...,NaN,0,1470,en,514,NaN,4,NaN,Electric Ave,http://freemusicarchive.org/music/AWOL/AWOL_-_...
2,5,1.0,AWOL - A Way Of Life,http://freemusicarchive.org/music/AWOL/AWOL_-_...,1,AWOL,http://freemusicarchive.org/music/AWOL/,http://www.AzillionRecords.blogspot.com,http://i.creativecommons.org/l/by-nc-sa/3.0/us...,http://fma-files.s3.amazonaws.com/resources/im...,5.0,Attribution-NonCommercial-ShareAlike 3.0 Inter...,http://creativecommons.org/licenses/by-nc-sa/3.0/,[],256000.0,0,NaN,NaN,NaN,11/26/2008 01:48:20 AM,11/26/2008,1,03:26,Radio-Unsafe,NaN,6,music/WFMU/AWOL/AWOL_-_A_Way_Of_Life/AWOL_-_06...,"[{'genre_id': '21', 'genre_title': 'Hip-Hop', ...",https://freemusicarchive.org/file/images/album...,NaN,0,1933,en,1151,NaN,6,NaN,This World,http://freemusicarchive.org/music/AWOL/AWOL_-_...
3,10,6.0,Constant Hitmaker,http://freemusicarchive.org/music/Kurt_Vile/Co...,6,Kurt Vile,http://freemusicarchive.org/music/Kurt_Vile/,http://kurtvile.com,http://i.creativecommons.org/l/by-nc-nd/3.0/88...,http://fma-files.s3.amazonaws.com/resources/im...,NaN,Attribution-NonCommercial-NoDerivatives (aka M...,http://creativecommons.org/licenses/by-nc-nd/3.0/,[],192000.0,0,Kurt Vile,NaN,NaN,11/25/2008 05:49:06 PM,11/26/2008,1,02:41,Radio-Safe,NaN,178,music/WFMU/Kurt_Vile/Constant_Hitmaker/Kurt_Vi...,"[{'genre_id': '10', 'genre_title': 'Pop', 'gen...",https://freemusicarchive.org/file/images/album...,NaN,0,54881,en,50135,NaN,1,NaN,Freeway,http://freemusicarchive.org/music/Kurt_Vile/Co...
4,20,4.0,Niris,http://freemusicarchive.org/music/Chris_and_Ni...,4,Nicky Cook,http://freemusicarchive.org/music/Chris_and_Ni...,NaN,http://i.creativecommons.org/l/by-nc-nd/3.0/88...,http://fma-files.s3.amazonaws.com/resources/im...,NaN,Attribution-NonCommercial-NoDerivatives (aka M...,http://creativecommons.org/licenses/by-nc-nd/3.0/,[],256000.0,0,NaN,NaN,NaN,11/26/2008 01:48:56 AM,1/01/2008,1,05:11,NaN,NaN,0,music/WFMU/Nicky_Cook__Chris_Andrews/Niris/Nic...,"[{'genre_id': '76', 'genre_title': 'Experiment...",https://freemusicarchive.org/file/images/album...,NaN,0,978,en,361,NaN,3,NaN,Spiritual Level,http://freemusicarchive.org/music/Chris_and_Ni...

In [29]:
for col in fm_df.columns.to_list():
    print(col)

track_id
album_id
album_title
album_url
artist_id
artist_name
artist_url
artist_website
license_image_file
license_image_file_large
license_parent_id
license_title
license_url
tags
track_bit_rate
track_comments
track_composer
track_copyright_c
track_copyright_p
track_date_created
track_date_recorded
track_disc_number
track_duration
track_explicit
track_explicit_notes
track_favorites
track_file
track_genres
track_image_file
track_information
track_instrumental
track_interest
track_language_code
track_listens
track_lyricist
track_number
track_publisher
track_title
track_url

In [30]:
fm_df=fm_df[["track_id","album_title","artist_name","track_title"]]
fm_df.head()

   track_id           album_title artist_name      track_title
0         2  AWOL - A Way Of Life        AWOL             Food
1         3  AWOL - A Way Of Life        AWOL     Electric Ave
2         5  AWOL - A Way Of Life        AWOL       This World
3        10     Constant Hitmaker   Kurt Vile          Freeway
4        20                 Niris  Nicky Cook  Spiritual Level

In [31]:
fm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109727 entries, 0 to 109726
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   track_id     109727 non-null  int64
 1   album_title  108686 non-null  object
 2   artist_name  109727 non-null  object
 3   track_title  109726 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.3+ MB

In [32]:
id_music_list_df = pd.DataFrame(id_music_list,columns=["track_id"])
id_music_list_df.head()

   track_id
0     66536
1     66187
2     66650
3     66469
4     66534

In [33]:
id_music_list_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   track_id  8000 non-null   int64
dtypes: int64(1)
memory usage: 62.6 KB

In [34]:
fm_df_cleaned = fm_df[fm_df["track_id"].isin(id_music_list_df["track_id"])].copy()
fm_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8000 entries, 0 to 109531
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   track_id     8000 non-null   int64
 1   album_title  8000 non-null   object
 2   artist_name  8000 non-null   object
 3   track_title  8000 non-null   object
dtypes: int64(1), object(3)
memory usage: 312.5+ KB

In [35]:
sp_df=pd.read_csv(sp/"tracks_features.csv")
sp_df.head()

,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
0,7lmeHLHBe4nmXzuXc0HDjk,Testify,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],1,1,False,0.470,0.978,7,-5.399,1,0.0727,0.02610,0.000011,0.3560,0.503,117.906,210133,4.0,1999,1999-11-02
1,1wsRitfRRtWyEapl0q22o8,Guerrilla Radio,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],2,1,True,0.599,0.957,11,-5.764,1,0.1880,0.01290,0.000071,0.1550,0.489,103.680,206200,4.0,1999,1999-11-02
2,1hR0fIFK2qRG3f3RF70pb7,Calm Like a Bomb,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],3,1,False,0.315,0.970,7,-5.424,1,0.4830,0.02340,0.000002,0.1220,0.370,149.749,298893,4.0,1999,1999-11-02
3,2lbASgTSoDO7MTuLAXlTW0,Mic Check,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],4,1,True,0.440,0.967,11,-5.830,0,0.2370,0.16300,0.000004,0.1210,0.574,96.752,213640,4.0,1999,1999-11-02
4,1MQTmpYOZ6fcMQc56Hdo7T,Sleep Now In the Fire,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],5,1,False,0.426,0.929,2,-6.729,1,0.0701,0.00162,0.105000,0.0789,0.539,127.059,205600,4.0,1999,1999-11-02

In [36]:
sp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1204025 entries, 0 to 1204024
Data columns (total 24 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   id                1204025 non-null  object
 1   name              1204022 non-null  object
 2   album             1204014 non-null  object
 3   album_id          1204025 non-null  object
 4   artists           1204025 non-null  object
 5   artist_ids        1204025 non-null  object
 6   track_number      1204025 non-null  int64
 7   disc_number       1204025 non-null  int64
 8   explicit          1204025 non-null  bool
 9   danceability      1204025 non-null  float64
 10  energy            1204025 non-null  float64
 11  key               1204025 non-null  int64
 12  loudness          1204025 non-null  float64
 13  mode              1204025 non-null  int64
 14  speechiness       1204025 non-null  float64
 15  acousticness      1204025 non-null  float64
 16  instrumentalness  1204025 non-null  float64
 17  liveness          1204025 non-null  float64
 18  valence           1204025 non-null  float64
 19  tempo             1204025 non-null  float64
 20  duration_ms       1204025 non-null  int64
 21  time_signature    1204025 non-null  float64
 22  year              1204025 non-null  int64
 23  release_date      1204025 non-null  object
dtypes: bool(1), float64(10), int64(6), object(7)
memory usage: 212.4+ MB

In [37]:
sp_df.drop(inplace=True, columns=["album_id", "artist_ids", "id"])
sp_df.head()

,name,album,artists,track_number,disc_number,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
0,Testify,The Battle Of Los Angeles,['Rage Against The Machine'],1,1,False,0.470,0.978,7,-5.399,1,0.0727,0.02610,0.000011,0.3560,0.503,117.906,210133,4.0,1999,1999-11-02
1,Guerrilla Radio,The Battle Of Los Angeles,['Rage Against The Machine'],2,1,True,0.599,0.957,11,-5.764,1,0.1880,0.01290,0.000071,0.1550,0.489,103.680,206200,4.0,1999,1999-11-02
2,Calm Like a Bomb,The Battle Of Los Angeles,['Rage Against The Machine'],3,1,False,0.315,0.970,7,-5.424,1,0.4830,0.02340,0.000002,0.1220,0.370,149.749,298893,4.0,1999,1999-11-02
3,Mic Check,The Battle Of Los Angeles,['Rage Against The Machine'],4,1,True,0.440,0.967,11,-5.830,0,0.2370,0.16300,0.000004,0.1210,0.574,96.752,213640,4.0,1999,1999-11-02
4,Sleep Now In the Fire,The Battle Of Los Angeles,['Rage Against The Machine'],5,1,False,0.426,0.929,2,-6.729,1,0.0701,0.00162,0.105000,0.0789,0.539,127.059,205600,4.0,1999,1999-11-02

### Just a cleaning fct

In [ ]:
import re
from unidecode import unidecode
import ast

def clean_artist_list(artist_str):
    """Extract artist name from list string"""
    if pd.isna(artist_str):
        return ""
    
    try:
        artist_list = ast.literal_eval(artist_str)
        artist = artist_list[0] if artist_list else ""
        return clean_text(artist)
    except:
        return clean_text(str(artist_str))

def clean_text(text):
    """Normalize text for better matching"""
    if pd.isna(text):
        return ""
    
    text = str(text).lower()
    text = unidecode(text)  # Remove accents
    text = re.sub(r'\(.*?\)', '', text)  # Remove parentheses
    text = re.sub(r'\[.*?\]', '', text)  # Remove brackets
    text = re.sub(r' - .*', '', text)  # Remove dash suffixes
    text = re.sub(r'[^\w\s]', '', text)  # Remove punctuation
    text = re.sub(r'\s+', ' ', text)  # Normalize spaces
    text = text.strip()
    text = re.sub(r'^(the|a|an)\s+', '', text)  # Remove articles
    
    return text

In [39]:
# Apply cleaning
sp_df['name_clean'] = sp_df['name'].apply(clean_text)
sp_df['artist_clean'] = sp_df['artists'].apply(clean_artist_list)  # Special handling!

fm_df['title_clean'] = fm_df['track_title'].apply(clean_text)
fm_df['artist_clean'] = fm_df['artist_name'].apply(clean_text)

# For fm_df_cleaned - fix the warning AND clean
fm_df_cleaned = fm_df[fm_df["track_id"].isin(id_music_list_df["track_id"])].copy()
fm_df_cleaned['title_clean'] = fm_df_cleaned['track_title'].apply(clean_text)
fm_df_cleaned['artist_clean'] = fm_df_cleaned['artist_name'].apply(clean_text)

In [ ]:
df_matched = pd.merge(
    sp_df, 
    fm_df_cleaned,  # Use cleaned (8K tracks with audio)
    left_on=['name_clean', 'artist_clean'],
    right_on=['title_clean', 'artist_clean'],
    how='inner'
)

print(f"Spotify dataset: {len(sp_df):,} tracks")
print(f"FMA Small (with audio): {len(fm_df_cleaned):,} tracks")
print(f"Matches found: {len(df_matched):,}")

Spotify dataset: 1,204,025 tracks
FMA Small (with audio): 8,000 tracks
Matches found: 224

In [41]:
df = pd.merge(
    sp_df, 
    fm_df, 
    left_on=['name_clean', 'artist_clean'],
    right_on=['title_clean', 'artist_clean'],
    how='inner'
)
print(f"Length of spotify df {len(sp_df)}")
print(f"Length of fma_small df {len(fm_df)}")
print(f"Matches found: {len(df)}")

Length of spotify df 1204025
Length of fma_small df 109727
Matches found: 2026

In [42]:
df.head()

,name,album,artists,track_number,disc_number,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date,name_clean,artist_clean,track_id,album_title,artist_name,track_title,title_clean
0,You Were Right,You Were Right,['Badly Drawn Boy'],1,1,False,0.569,0.7920,2,-6.210,1,0.0266,0.0430,0.00161,0.300,0.6370,131.041,292173,4.0,2002,2002-10-07,you were right,badly drawn boy,50569,"KEXP Live, December 2010",Badly Drawn Boy,You Were Right (Live @ KEXP),you were right
1,You Were Right - Live From Glastonbury 2002,You Were Right,['Badly Drawn Boy'],3,1,False,0.449,0.5600,2,-8.058,1,0.0293,0.9340,0.06770,0.986,0.3900,133.834,333627,4.0,2002,2002-10-07,you were right,badly drawn boy,50569,"KEXP Live, December 2010",Badly Drawn Boy,You Were Right (Live @ KEXP),you were right
2,Machines and Muscles,Psychic Psummer,['Cave'],6,1,False,0.584,0.9180,7,-9.883,1,0.0345,0.0254,0.77000,0.348,0.1140,108.305,236960,5.0,2009,2009-05-26,machines and muscles,cave,459,Butthash,CAVE,Machines and Muscles,machines and muscles
3,Ya No Ya Wanna,Peanut Butter and Jelly Live at the Ginger Minge,['Coachwhips'],5,1,False,0.000,0.0303,10,-23.365,0,0.0000,0.0000,0.00000,0.000,0.0000,0.000,1000,0.0,2005,2005-01-25,ya no ya wanna,coachwhips,8916,Peanut Butter &amp; Jelly Live At The Ginger M...,Coachwhips,Ya No Ya Wanna,ya no ya wanna
4,"Oops, Uh, Uh.",Peanut Butter and Jelly Live at the Ginger Minge,['Coachwhips'],8,1,False,0.364,0.9990,1,-4.849,1,0.1300,0.1580,0.98700,0.637,0.0274,128.847,98040,4.0,2005,2005-01-25,oops uh uh,coachwhips,8915,Peanut Butter &amp; Jelly Live At The Ginger M...,Coachwhips,"Oops, Uh, Uh.",oops uh uh

In [43]:
df = pd.merge(sp_df,fm_df_cleaned, left_on=["name", "album"],right_on=["track_title", "album_title"],how="inner")
df.head()

,name,album,artists,track_number,disc_number,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date,name_clean,artist_clean_x,track_id,album_title,artist_name,track_title,title_clean,artist_clean_y
0,Code Monkey,JoCo Looks Back,['Jonathan Coulton'],1,1,False,0.569,0.612,4,-6.333,1,0.0423,0.0842,0.000000,0.0858,0.780,159.938,190560,4.0,2008,2008-01-01,code monkey,jonathan coulton,14684,JoCo Looks Back,Jonathan Coulton,Code Monkey,code monkey,jonathan coulton
1,I Feel Fantastic,JoCo Looks Back,['Jonathan Coulton'],3,1,False,0.786,0.859,11,-5.893,0,0.0709,0.3190,0.000000,0.0719,0.772,99.977,185653,4.0,2008,2008-01-01,i feel fantastic,jonathan coulton,14693,JoCo Looks Back,Jonathan Coulton,I Feel Fantastic,i feel fantastic,jonathan coulton
2,Re: Your Brains,JoCo Looks Back,['Jonathan Coulton'],19,1,False,0.596,0.576,0,-6.941,1,0.0267,0.3240,0.000000,0.2020,0.468,80.035,272280,4.0,2008,2008-01-01,re your brains,jonathan coulton,14661,JoCo Looks Back,Jonathan Coulton,Re: Your Brains,re your brains,jonathan coulton
3,No Business,No Business,['Negativland'],2,1,False,0.545,0.779,3,-7.585,1,0.3150,0.3360,0.000000,0.6050,0.584,130.106,253000,4.0,2005,2005,no business,negativland,1277,No Business,Negativland,No Business,no business,negativland
4,Downloading,No Business,['Negativland'],3,1,False,0.307,0.682,5,-8.970,1,0.1710,0.8350,0.000002,0.4940,0.467,85.521,591440,3.0,2005,2005,downloading,negativland,1278,No Business,Negativland,Downloading,downloading,negativland

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              157 non-null    object
 1   album             157 non-null    object
 2   artists           157 non-null    object
 3   track_number      157 non-null    int64
 4   disc_number       157 non-null    int64
 5   explicit          157 non-null    bool
 6   danceability      157 non-null    float64
 7   energy            157 non-null    float64
 8   key               157 non-null    int64
 9   loudness          157 non-null    float64
 10  mode              157 non-null    int64
 11  speechiness       157 non-null    float64
 12  acousticness      157 non-null    float64
 13  instrumentalness  157 non-null    float64
 14  liveness          157 non-null    float64
 15  valence           157 non-null    float64
 16  tempo             157 non-null    float64
 17  duration_ms       157 non-null    int64
 18  time_signature    157 non-null    float64
 19  year              157 non-null    int64
 20  release_date      157 non-null    object
 21  name_clean        157 non-null    object
 22  artist_clean_x    157 non-null    object
 23  track_id          157 non-null    int64
 24  album_title       157 non-null    object
 25  artist_name       157 non-null    object
 26  track_title       157 non-null    object
 27  title_clean       157 non-null    object
 28  artist_clean_y    157 non-null    object
dtypes: bool(1), float64(10), int64(7), object(11)
memory usage: 34.6+ KB

In [45]:
df = pd.merge(sp_df,fm_df, left_on=["name"],right_on=["track_title"],how="inner")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644315 entries, 0 to 644314
Data columns (total 29 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              644312 non-null  object
 1   album             644304 non-null  object
 2   artists           644315 non-null  object
 3   track_number      644315 non-null  int64
 4   disc_number       644315 non-null  int64
 5   explicit          644315 non-null  bool
 6   danceability      644315 non-null  float64
 7   energy            644315 non-null  float64
 8   key               644315 non-null  int64
 9   loudness          644315 non-null  float64
 10  mode              644315 non-null  int64
 11  speechiness       644315 non-null  float64
 12  acousticness      644315 non-null  float64
 13  instrumentalness  644315 non-null  float64
 14  liveness          644315 non-null  float64
 15  valence           644315 non-null  float64
 16  tempo             644315 non-null  float64
 17  duration_ms       644315 non-null  int64
 18  time_signature    644315 non-null  float64
 19  year              644315 non-null  int64
 20  release_date      644315 non-null  object
 21  name_clean        644315 non-null  object
 22  artist_clean_x    644315 non-null  object
 23  track_id          644315 non-null  int64
 24  album_title       639184 non-null  object
 25  artist_name       644315 non-null  object
 26  track_title       644312 non-null  object
 27  title_clean       644315 non-null  object
 28  artist_clean_y    644315 non-null  object
dtypes: bool(1), float64(10), int64(7), object(11)
memory usage: 138.3+ MB